services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: symfony_backend
    restart: always
    volumes:
      - ./backend:/var/www/backend
    depends_on:
      - db

  webserver:
    image: nginx:alpine
    container_name: nginx_webserver
    restart: always
    ports:
      - "${PORT_WEB}:80"
    volumes:
      - ./frontend:/var/www/frontend
      - ./backend:/var/www/backend
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer_app
    restart: always
    ports:
      - "${PORT_PORTAINER}:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok_tunnel
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    command: http webserver:80 --log=stdout
    depends_on:
      - webserver

volumes:
  db_data:
  portainer_data:
